body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
#map {
  width: 100%;
  height: 100%;
}
.title {
  position: absolute;
  z-index: 100;
  font-size: 88px;
  font-weight: bold;
  color: rgb(163, 152, 152, 0.8);
  text-transform: uppercase;
  top: 100px;
  left: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 2px rgb(158, 156, 156);
  /* text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #6b8565, 0 0 30px rgb(223, 224, 222), 0 0 40px rgb(226, 226, 226), 0 0 55px rgb(209, 214, 208), 0 0 75px #d8dbd7; */
 
 
}
.search-container {
  position: absolute;
  z-index: 100;
  width: 400px;
  height: 60px;
  left: 100px;
  top: 230px;
  background: #454e53;
  border: 1px solid #979797;
  border-radius: 30px;
  display: flex;
  opacity: 0.8;
}
.search-container input {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  width: 100%;
}
.search-container input:focus {
  outline: none;
  padding-right: 30px;
}

.search-container .search {
  flex-grow: 1;
  display: flex;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.search i {
  font-size: 25px;
  color: white;
  padding-top: 15px;
}
.stores-list-container {
  position: absolute;
  z-index: 100;
  left: 100px;
  top: 320px;
  width: 402px;
  bottom: 20px;
  background: rgb(185,186,194);
background: radial-gradient(circle, rgba(185,186,194,1) 0%, rgba(69,68,68,0.7570378493194152) 100%);
  color: white;
  border-radius: 30px;
  opacity: 0.8;
  box-shadow: 0 8px 6px -6px rgb(243, 243, 241);
  display: flex;
  overflow-y: hidden;
  padding-bottom: 30px;
}
.stores-list {
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}
.stores-container {
 border-bottom: 1px solid white;
 display: flex;
 cursor: pointer;
}
.stores-info-container {
  flex-grow: 1;
}
.store-address {
  font-size: 22px;
  margin-top: 20px;
  color: white;
}
.store-address span {
  display: block;
}
.store-phone-number {
  color: rgb(231, 236, 148);
  margin-top: 15px;
  margin-bottom: 15px;
}
.store-number {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(61, 57, 57);
  color: white;
  font-size: 12px;
  box-shadow:  0 0 10px  rgba(243, 241, 241, 0.6);
  -moz-box-shadow:  0 0 10px  rgba(243, 241, 241, 0.6);
  -webkit-box-shadow:  0 0 10px  rgba(243, 241, 241, 0.6);
  -o-box-shadow:  0 0 10px  rgba(243, 241, 241, 0.6);


}
.store-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
::-webkit-scrollbar {
  display: none;
}
.store-info-window {
  min-width: 300px;
  font-size: 18px;
  padding: 8px;
  background: rgb(240,243,178);
  background: radial-gradient(circle, rgba(240,243,178,0.4433123591233369) 0%, rgba(255,255,255,0.2528361686471463) 43%);
}
.store-info-name {
  font-size: 24px;
  font-weight: bold;
  color: #454e53;
}
.store-info-status{
  margin-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}
.store-info-address, .store-info-phone {
  margin-top: 8px;
  display: flex;
  align-items: center;
  background-color: #beb9b9;


}
.store-info-address .circle, .store-info-phone .circle {
  width: 30px;
  height: 30px;
  background-color:  rgb(61, 57, 57);
  color: rgb(231, 236, 148);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 8px;
}
.search i {
  cursor: pointer;
}
.stores-container-background {
display: flex;
flex-grow: 1;
border-radius: 18px;
padding-left: 8px;
padding-right: 8px;
margin-bottom: 12px;
margin-top: 12px;
transition: all 0.3s ease-in-out;

}
.stores-container-background:hover {
  background-color: #454e53;
}